body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u5793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u5794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5795 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:231px;
  width:270px;
  height:36px;
}
#u5795_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u5796 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:280px;
  width:270px;
  height:36px;
}
#u5796_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u5797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(68, 166, 232, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5797 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:335px;
  width:350px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:346px;
  word-wrap:break-word;
}
#u5799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5799 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:240px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u5800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5801 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:288px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u5802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u5803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u5803 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:132px;
  width:109px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u5804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u5805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:14px;
}
#u5805 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:107px;
  width:367px;
  height:14px;
}
#u5806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u5807 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:169px;
  width:375px;
  height:1px;
}
#u5808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u5809 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:140px;
  width:12px;
  height:20px;
  color:#666666;
}
#u5810 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5811 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:182px;
  width:270px;
  height:36px;
}
#u5811_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u5812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5812 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:191px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u5813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5814 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:189px;
  width:22px;
  height:22px;
}
#u5815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5816 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:239px;
  width:20px;
  height:20px;
}
#u5817 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:25px;
}
#u5818 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:188px;
  width:1px;
  height:24px;
}
#u5819 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:25px;
}
#u5820 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:238px;
  width:1px;
  height:24px;
}
#u5821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
